.btn-circle {
    width: 15rem;
    height: 15rem;
    padding: 0.625rem 1rem;
    font-size: 1.125rem;
    line-height: 1.33;
    border-radius: 10rem;
    background-color: white;
    color: black;
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', Arial, sans-serif;
    font-style: italic;
}